@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*, body
{
    color: #dedede;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}
body
{
    overflow: auto hidden;
}
.container
{
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.topbar
{
    max-height: 100px;
}
.logo
{
    max-width: 200px;
}
#filenamebox
{
    padding: 0px;
    margin: 0px;
    margin-right: 50px;
    box-sizing: border-box;
    margin-top: 10px;
    max-width: 15%;
    max-height:100px;
}
#filenamebox input
{
    padding: 6px;
}
#fileuploadbox
{
    padding: 0px;
    margin-top: 10px;
    max-width: 100px;
    max-height:100px;
}
#popformtext
{
    margin-left: 10px;
    margin-top: 20px;
    max-width: 10vw;
    margin-left: 0px;
    margin-right: -20px;
}
.logo img
{
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.topbar input
{
    margin-top: 20px;
    margin-left: 0px;
    border: 1px #aaaaaa solid;
    border-radius: 4px;
}
.topbar label
{
    margin: 0px;
    margin-top: 20px;
    border: 1px #aaaaaa solid;
    border-radius: 4px;
    color: #aaaaaa;
}
#filename
{
    display: flex;
}
#fileupload
{
    display: none;
}
.formatdropdown
{
    background-color: transparent;
    margin-top: 20px;
    color: #dddddd;
}
.formatdropdownitems
{
    background-color: transparent;
    color: #000000;
}
.dropdown-menu a
{
    color: #aaaaaa !important;
}
.dropdown-menu a:hover
{
    background-color: #333333;
}
#undobutton
{
    margin-left: 40%;
    margin-right: 10%;
    color: #aaaaaa;
}
#savebutton
{
    margin-left: 20%;
    color: #aaaaaa;
}
#downloadbutton
{
    margin-left: -30%;
    color: #aaaaaa;
}
span
{
    display: block;
    min-width: 100vw;
    border-top: 1px solid #aaaaaa;
}
.leftbar
{
    max-width: 10%;
    background-color: #32343b;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
}

.leftbar>.nav, .leftbar li
{
    background-color: #32343b;
    width: 100%;
}
.nav-item i
{
    display: block;
    width: 100%;
    font-size: 1.6em;
    background-color: #32343b;
}
.nav-item>.btn
{
    color: #aaaaaa;
    width: 100%;
    margin-bottom: 20%;
    background-color: #32343b;
}
.toggleBorder
{
    border: 2px solid;
}
.leftbar>.flex-column
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.mainbox
{
    width: 100%;
    min-height: calc(100vh - 101px);
    max-height: 652px;
}
.centercanvas
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    max-width: 100%;
    max-height: 652px;
}
#imagecanvas
{
    background-color: #262626;
    width: 100%;
    height: 99%;
    max-width: 100%;
    max-height: 99%;
}
.rightbar
{
    max-width:18%;
}
.rightbar i
{
    display: block;
    width: 100%;
    font-size: 1.6em;
    background-color: transparent;
}
#transformDiv
{
    display: none;
    height: 100%;
}
.transformMenu
{
/*    crop*/
    height: 12%;
    text-align: center;
    color: #aaaaaa;
    width: 80%;
    margin-top: 20px;
    background-color: #32343b;
    font-size: 1.1em;
}
#brightnessSlider
{
    width: 80%;
    margin-bottom: 10px;
}
#brightnessValue
{
    margin-left: 5px;
}
#contrastSlider
{
    width: 80%;
    margin-bottom: 10px;
}
#contrastValue
{
    margin-left: 5px;
}
#adjustDiv
{
    display: none;
    height: 100%;
}
